*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 12vh;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
nav {
    height: 100%;
    width: 100%;
    padding: 0vw 2.3vw;
    display: flex;
    align-items: center;
}
nav .con1 {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo h1{
    font-size: 1.7rem;
}
nav .dropdown button {
    font-size: 1.2rem;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }
}
nav .con1 h5 {
    font-weight: 400;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

nav .con2 {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
nav .con2 button {
    padding: 7px 20px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 20px;
}
nav .con2 .log {
    color: #0056fb;
    background-color: #f5f8ff;

    &:hover {
        background-color: #cfd0d3;
    }
}
nav .con2 .sign {
    color: #f5f8ff;
    background-color: #0056fb;

    &:hover {
        background-color: #064cce;
    }
}



main {
    height: 100%;
    width: 100%;
}
.center {
    height: 100%;
    width: 96%;
    margin: 0 auto;
}
.page {
    height: 45vh;
    width: 100%;
    margin-top: 3vh;
}
.contain {
    height: 100%;
    width: 100%;
}
.boxes {
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.single_box {
    height: 100%;
}
.inner_box {
    height: 100%;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
}
.inner_box .img {
    height: 70%;
    overflow: hidden;
}
.inner_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.inner_box h6 {
    font-size: 1rem;
    font-weight: 600;
}
.inner_box h6 {
    font-size: 1rem;
    font-weight: 400;
}


.section {
    height: 35vh;
    width: 100%;
    padding-top: 10vh;
    text-align: center;
}
.section h5 {
    font-weight: 400;
}
.section h5 span {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.section button {
    padding: 10px 22px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    color: #f5f8ff;
    background-color: #0056fb;

    &:hover {
        background-color: #064cce;
    }
}
.section h6 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0px 1vw;
    color: #c0c0c2;
}
.section i {
    color: #000;
    cursor: pointer;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #cfd0d3;

    &:hover{
        background-color: #cfd0d3;
    }
}

main .hrLine {
    height: 3px;
    width: 100%;
    margin: 2vw 0;
    background: linear-gradient(90deg, rgba(143,143,216,1) 0%, rgba(254,90,47,1) 40%, rgba(251,199,209,1) 83%);
}

.bot {
    height: 5vh;
    width: 100%;
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot span {
    color: #0056fb;
    font-weight: 700;
    cursor: pointer;
    padding-left: 1vw;
}


footer {
    height: 90vh;
    width: 100%;
    background-color: #191919;
}
footer .center {
    height: 100%;
    width: 93%;
    margin: 0px auto;
}

.footer {
    height: 80%;
    width: 100%;
    padding: 10vh 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.footer h1 {
    font-size: 3.5rem;
    font-weight: 400;
}
.footer ul {
    margin-top: 4vh;
    list-style: none;
    font-size: 1.2rem;
}
.footer li {
    margin-bottom: 1.5vh;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
.footer .bold {
    font-weight: 800;
    margin-bottom: 4vh;
    cursor: auto;

    &:hover {
        text-decoration: none;
    }
}
footer .hrLine {
    height: 1px;
    width: 100%;
    margin-top: 6vh;
    background-color: #c0c0c2;
}
.ft_bottom {
    height: 10%;
    width: 100%;
    margin-top: 0.8vw;
    padding: 0 2vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ft_bottom h5 {
    font-size: 0.9rem;
    margin-right: 4vw;
    font-weight: 500;
}
.ft_bottom h6 {
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}